[Unit]
Description=Webserver to control dispenser
After=network.target

[Service]
Type=simple
ExecStart=/bin/catomat-server -m 45 -t 2ms
Restart=always

[Install]
WantedBy=multi-user.target
